.list-users-content{
 height: 100%;
 overflow: auto;
}

.list-users-item {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}

.list-users-item-icon {
  font-size: 18px;
}

.list-users-item-selected {
  background: #76b900 !important;
}
