.chat-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 90%;
  height: 99%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header header header"
    "chat-box chat-box chat-box"
    "chat-divider chat-divider chat-divider"
    "chat-form chat-form chat-form";
}

.header-chat {
  grid-area: header;
  display:grid;
  width: 100%;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-areas:
  "title-chat . chat-user";
  justify-content: center;
  align-items: flex-end;
}

.header-chat-user{
  grid-area: chat-user;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.chat-form {
  grid-area: chat-form;
}

.chat-divider {
  grid-area: chat-divider;
}

.item-chat {
  margin: auto;
}

.chat-box {
  width: 100%;
  height: 600px;
  padding: 1px;
  margin: 1px;
  border: 1px solid blueviolet;
  border-radius: 15px 15px;
  box-shadow: 2px 2px 3px;
  display: grid;
  grid-area: chat-box;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 12fr;
  grid-template-areas:
    "chat-box-users chat-box-messages";
}

.chat-box-messages {
  height: 95%;
  border: 1px solid burlywood;
  border-radius: 5px 5px 10px;
  margin: 10px;
  grid-area: chat-box-messages;
  overflow :auto;
}

.chat-box-users {
  height: 95%;
  border: 1px solid rgb(165, 125, 64);
  border-radius: 10px 10px 10px;
  margin: 10px;
  grid-area: chat-box-users;
}
