<div class="login-page">
  <mat-card class="login-card">
    <mat-card-content class="login-content">
      <form [formGroup]="loginForm" (submit)="onSubmit(loginForm)" class="login-form">
        <h2>Log In RealTime Web</h2>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Email" formControlName="userName" name="username" required>
            <mat-error>
              Please provide a valid email address
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password" name="password" required>
            <mat-error>
              Please provide a valid password
            </mat-error>
          </mat-form-field>
        </div>
        <br />
        <div>
          <button mat-raised-button color="primary" [disabled]="validationForm(loginForm)">Login</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
